
@{
    ViewBag.Title = "Chính Sách";
}

<div class="policy" style="font-family: Arial; margin-top: 50px; margin-bottom: 30px; ">
    <div class="container">
        <div class="policy_layout">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <p style="font-size: 25px; font-weight: bolder; color: #FF7F00; text-align: center; " class="policy_title"><i class="fa-solid fa-bookmark"></i> Chính Sách Đổi Trả Hàng</p>
                    <p style="font-size: 15px; color: #555555; font-weight: 600;" class="policy_text">
                        1. NABI PET khuyến khích khách hàng kiểm tra tình trạng của sản phẩm trước khi thanh
                        toán để đảm bảo rằng hàng hóa được giao đúng chủng loại, số lượng theo đơn đặt hàng và tình
                        trạng không bị lỗi, hỏng.<br /><br />
                        2. Trong trường hợp khách hàng giao dịch trực tiếp tại cửa hàng và đã
                        thanh toán hoặc ký xác nhận biên lai giao hàng tại nhà đồng nghĩa là sản phẩm mà khách hàng đã
                        nhận tại thời điểm đó không có bất cứ vấn đề gì.<br /><br />
                        3. Chúng tôi sẽ không giải quyết bất kỳ khiếu nại của khách hàng sau đó.<br /><br />
                        4. Qui định về đổi hàng: NABI PET sẽ hỗ trợ khách hàng đổi sang sản phẩm giá trị tương đương và
                        không hoàn lại tiền trong thời gian 24 giờ kể từ lúc mua hàng.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <p style="font-family: Arial; font-size: 25px; font-weight: bolder; color: #FF7F00; text-align: center;" class="policy_title">Điều Kiện Đổi Trả Hàng</p>
                    <p class="policy_text" style="font-size: 15px; color: #555555; font-weight: 600; border-left: 1px solid #000; padding-left: 30px; ">
                        1. Quý khách có thể đổi lại hàng đã mua trong vòng 24 giờ kể từ lúc mua mà không phải
                        chịu bất kỳ một khoản phí nào. Tuy nhiên, quý khách phải giữ hoá đơn mua hàng gốc tại NABI PET.<br /><br />
                        2. Sản phẩm phải trong tình trạng nguyên vẹn như khi NABI PET giao sản phẩm cho khách hàng, chưa sử
                        dụng, chưa bóc hộp hoặc tem & còn mới 100% kể từ lúc mua & còn nguyên đóng gói. Đối với thực
                        phẩm và mỹ phẩm chưa được sử dụng hoặc không có mùi lạ.<br /><br />
                        3. Sản phẩm đổi trả trực tiếp tại cửa hàng nơi quý khách mua sản phẩm (Không đổi tại nhà khách
                        hàng. Không gửi trực tiếp cho nhà sản xuất).<br /><br />
                        4. Sản phẩm đổi mới sẽ có giá trị ngang bằng hoặc lớn hơn sản phẩm đã mua trước đó. NABI PET không
                        hoàn lại tiền khi khách hàng đã mua sản phẩm.<br /><br />
                        5. Đối với sản phẩm đã mua & đã mở hộp ra kiểm tra tại cửa hàng sẽ không được đổi sang sản phẩm
                        khác.<br /><br />
                        6. Không nhận trả lại hàng nếu các sản phẩm nằm trong các chương trình khuyến mại. Trong các trường
                        hợp khác quyền quyết định sẽ thuộc về NABI PET.<br /><br />
                        7. Khi nhân viên của NABI PET đã kiểm tra kỹ & chấp nhận tình trạng hàng hoá đổi trả lại thì việc
                        đổi hàng sẽ được tiến hành một cách tự động.<br /><br />
                        <span class="hotro">
                            Để biết thêm thông tin chi tiết, quý khách vui lòng liên hệ Bộ phận chăm sóc khách hàng NABI PET
                            để được trợ giúp. Xin cảm ơn!
                        </span>
                    </p>
                </div>
            </div>
        </div>
        </div>
    <br /><br />
</div>

