
@{
    ViewBag.Title = "TinTuc1";
}
<!--Banner Blog1-->
<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bread-crumb-title">
                    Latest news | NABI Pet Shop
                </div>
            </div>
            <div class="col-xl-12">
                <div class="bread-crumb-link">
                    <ul>
                        <li><span class="bread-crumb-link">@Html.ActionLink("Trang chủ", "Index", "Home")</span> / NABI Pet Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Banner Blog1-->
<div class="details_blog">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-7">
                <img class="blog_img" src="~/img/GioiThieu/blog1.png" alt="blog1" />
                <p class="title_blog"><i class="fa-solid fa-skull"></i> Halloween Rực Rỡ tại NABI PET SHOP – Ưu Đãi "Ghê Rợn" Cho Các "Boss"!</p>
                <span class="content_blog">
                    Halloween đang đến gần, không khí lễ hội đã ngập tràn khắp nơi, và tại NABI PET SHOP,
                    chúng tôi không chỉ mang đến niềm vui cho bạn mà còn cho cả những
                    “người bạn bốn chân” đáng yêu của bạn. Cùng khám phá những hoạt động hấp dẫn và ưu đãi
                    “hù dọa” nhưng cực kỳ thân thiện mà chúng tôi đã chuẩn bị cho mùa Halloween này nhé!
                </span>
                <br /><hr /><br />
                <span class="title_content_blog">1. Biến Hóa "Boss" Thành Siêu Sao Halloween:</span>
                <br /><br />
                <span class="content_blog">
                    - Hóa trang không chỉ dành cho người! Đưa "boss" của bạn đến cửa hàng, chúng tôi sẽ giúp các bé biến thành những nhân vật đáng yêu như phù thủy, ma cà rồng, hoặc bí ngô ma thuật với các bộ trang phục Halloween độc đáo.<br />
                    - Miễn phí dịch vụ chụp ảnh kỷ niệm khi mua bất kỳ sản phẩm Halloween nào tại shop.
                </span>
                <br /><br />
                <span class="title_content_blog">2. Halloween Spa – “Làm Đẹp Đáng Sợ” Dành Riêng Cho Boss:</span>
                <br /><br />
                <span class="content_blog">
                    - Ưu đãi giảm 20% cho dịch vụ spa và chăm sóc thú cưng, giúp các bé sạch sẽ, thơm tho, sẵn sàng cho lễ hội.<br />
                    - Đặc biệt: Tặng một phụ kiện Halloween (nơ, mũ, cà vạt) khi sử dụng dịch vụ grooming tại shop trong tuần lễ Halloween.
                </span>
                <br /><br />
                <span class="title_content_blog">3. Sân Chơi Lễ Hội – Halloween Cùng Pet:</span>
                <br /><br />
                <span class="content_blog">
                    - Tham gia sự kiện giao lưu dành riêng cho các "sen" và "boss" tại NABI PET SHOP. Chương trình bao gồm cuộc thi hóa trang, trò chơi Halloween thú vị, và những phần quà hấp dẫn cho cả người và thú cưng.
                </span>
                <br /><hr /><br />
                <span class="title_content_blog"><i class="fa-solid fa-gift fa-beat"></i> Ưu Đãi Độc Quyền Halloween</span><br /><br />
                <span class="content_blog">
                    - Giảm giá tới 50% cho các sản phẩm Halloween: đồ chơi, phụ kiện, thức ăn thú cưng, và trang phục.<br /><br />
                    - Combo đặc biệt: "Hóa Trang Hoàn Hảo" – Chỉ với 199.000đ, bạn sẽ nhận được một bộ trang phục Halloween, một món đồ chơi chủ đề lễ hội, và một gói snack yêu thích cho boss.<br /><br />
                    - Chương trình “Mua 1 tặng 1” áp dụng cho các món đồ chơi Halloween trong ngày 31/10.<br /><br />
                </span>
                <br /><hr /><br />
                <span class="title_content_blog"><i class="fa-solid fa-calendar-days fa-shake"></i> Thông Tin Sự Kiện</span>
                <br /><br />
                <span class="content_blog">
                    - Thời gian: Từ ngày 25/10 đến 31/10.<br /><br />
                    - Địa điểm: NABI PET SHOP, 123 Đường Lễ Hội, Thành phố Lễ Hội.<br /><br />
                    - Liên hệ: Hotline: 0123-456-789 | Facebook: NABI PET SHOP<br /><br />
                </span>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-5">
                <div class="knowledge-section">
                    <h2>Kiến thức</h2>
                    <div class="knowledge-item">
                        <img src="~/img/GioiThieu/blog1.png" alt="Halloween Sale">
                        <div class="content">
                            <p class="comments"><i class="fa fa-comments"></i> 0 comments</p>
                            <h3>HALLOWEEN SALE KHỦNG – GIẢM GIÁ TỚI 50%</h3>
                        </div>
                    </div>
                    <div class="knowledge-item">
                        <img src="~/img/GioiThieu/blog1.png" alt="Ưu đãi lần đầu">
                        <div class="content">
                            <p class="comments"><i class="fa fa-comments"></i> 0 comments</p>
                            <h3>ƯU ĐÃI LẦN ĐẦU TRẢI NGHIỆM – GIẢM NGAY 20% TẤT TẦN TẬT DỊCH VỤ SPA CHO THÚ CƯNG</h3>
                        </div>
                    </div>
                    <div class="knowledge-item">
                        <img src="~/img/GioiThieu/blog1.png" alt="Ủ ve rận">
                        <div class="content">
                            <p class="comments"><i class="fa fa-comments"></i> 0 comments</p>
                            <h3>Ủ VE RẬN 0 ĐỒNG – YÊU THƯƠNG PET ĐÚNG CÁCH</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

