
@{
    ViewBag.Title = "Lien He";
}
<!--Banner Liên hệ-->
<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bread-crumb-title">
                    Liên Hệ | NABI Pet Shop
                </div>
            </div>
            <div class="col-xl-12">
                <div class="bread-crumb-link">
                    <ul>
                        <li><span class="bread-crumb-link">@Html.ActionLink("Trang chủ", "Index", "Home")</span> / NABI Pet Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End banner liên hệ-->

<div class="information_contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <p class="title_contact">Thông tin liên hệ</p>
                <i class="fa-solid fa-location-dot" id="contact"><span class="content_contact"> Địa chỉ : </span></i><br />
                <span class="title_contact_address">272 Vạn Kiếp, Phường 3, Q.Bình Thạnh</span><br />
                <i class="fa-solid fa-phone-volume" id="contact"><span class="content_contact"> Điện thoại :</span></i><br />
                <span class="title_contact_address">0867762110</span><br />
                <i class="fa-solid fa-envelope" id="contact"><span class="content_contact"> Email : </span></i><br />
                <span class="title_contact_address">nguyentuan040530@gmail.com</span>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d489.8989479400735!2d106.69336190579588!3d10.796633952296565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528cecdbae791%3A0xed00a889b64ab4!2zMjcyIMSQLiBW4bqhbiBLaeG6v3AsIFBoxrDhu51uZyAzLCBCw6xuaCBUaOG6oW5oLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1732083921749!5m2!1svi!2s" width="320" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-6">
                <p class="title_form">Gửi thắc mắc cho chúng tôi !</p>
                <p class="comment_form">Nếu bạn có thắc mắc gì, có thể gửi yêu cầu cho chúng tôi, và chúng tôi sẽ liên lạc lại với bạn sớm nhất có thể .</p>
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="input_group">
                        <input class="form_name" type="text" placeholder="Tên của bạn" />
                    </div>

                </div>
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="input_group">
                        <input class="form_email" type="email" placeholder="Email của bạn" />
                        <input class="form_phone" type="text" placeholder="Số điện thoại" />
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <textarea rows="5" class="form_note" placeholder="Nội dung"></textarea>
                </div>
                <button class="button_contact" type="button">Gửi ý kiến cho chúng tôi</button>
            </div>
        </div>
    </div>
</div>

