


@{
    ViewBag.Title = "Dịch vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    html, body {
        height: 100%; /* Chiều cao full trang */
        margin: 0;
        padding: 0;
    }

    body {
        display: flex;
        flex-direction: column; /* Sắp xếp theo cột */
        min-height: 100vh; /* Chiều cao tối thiểu bằng viewport */
    }

    .content {
        flex: 1; /* Chiếm phần còn lại, đẩy footer xuống */
    }

    footer {
        background-color: #ADADAD;
        color: black;
        text-align: center;
        padding: 15px 0;
    }

</style>

<h2>Hiện tại chưa có trang này !</h2>